body {
	min-width: 320px;
	margin: 0 auto;
	font-family: $roboto;
	font-size: 16px;
	color: $text-color;
	background-color: page-color;
	box-sizing: border-box;
}
	
*, *::before, *::after {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.modal-active {
	overflow-y: hidden;
}
  
.mob-active {
	overflow-y: hidden;

	@media (min-width: $narrow-tablet) {
		overflow-y: unset;
	}
}
