$text-color: #405063;
$page-color: #ffffff;
$light-text: #ffffff;
$grey-text: #818D9C;
$light-grey-text: #C4CCD6;
$chart-text: #B2BBC8;

$n1-blue: #489AFF;
$button-hover: #4992e6;

$border-color: #DBDBDB;

$mob: 768px;
$narrow-tablet: 980px;
$tablet: 1024px;
$content-max-width: 1048px;
$desktop: 1280px;
$hd: 1920px;
