footer(class='footer')
	div.footer__wrap
		p.footer__text
			|© 2019, Project N1 - Special for you,
			| Все права защищены
		p.footer__text
			|Сделано во 
			a(href="#" class="footer__link") Freematiq