.estimate {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(100% - 20px);
	max-width: $content-max-width;
	min-height: 272px;
	margin: 0 auto;
	padding: 30px 30px 32px;
	background-color: #354A62;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	@media (min-width: $mob) {
		width: calc(100% - 40px);
		padding: 30px 46px 32px;
	}

	&__left-wrap {
		width: 100%;

		@media (min-width: 500px) {
			width: calc(100% - 150px);
		}

		@media (min-width: 660px) {
			width: 56.067%;
		}
	}

	&__right-wrap {
		order: 3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100px;
		height: 220px;
		margin-top: 16px;

		@media (min-width: 500px) {
			order: 0;
			margin-top: 0;
		}

		@media (min-width: 660px) {
			flex-direction: row;
			width: 220px;
			height: auto;
		}

		@media (min-width: $mob) {
			width: 264px;
		}

		@media (min-width: $narrow-tablet) {
			width: 274px;
			margin-right: 5px;
		}
	}

	&__slider {
		width: 100%;
		margin-top: 32px;
	}

	&__icon {
		margin-bottom: 10px;
	}

	& .section-title {
		margin-bottom: 10px;
	}
}