.estimate-chart {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;

    @media (min-width: $mob) {
		width: 120px;
		height: 120px;
	}

	&__number {
		display: block;
		font-size: 26px;
		font-weight: 400;
		text-align: center;
		color: $light-text;

		@media (min-width: $mob) {
			font-size: 30px;
		}
	}

	&__text {
		display: block;
		font-size: 13px;
		font-weight: 300;
		line-height: 17px;
		text-align: center;
		color: $chart-text;
	}
}